include include/head 
body
 #wrap
   include include/top
   .i_b_w
       .i_b_p.clearfix
         .p_l_t.bluebg 作者
         include include/nav
         .p_m.clearfix
           h2.fblue Hi,我是作者doublespout
           p Hi,我是作者 doublespout ，有什么bug或者建议，欢迎联系：
            <br/>邮箱：snoopyxdy@163.com
            <br/>博客：http://snoopyxdy.blog.163.com
            <br/>微博：http://weibo.com/spuout
            <br/>qq：53822985
            <br/>github：https://github.com/DoubleSpout/
   include include/foot
   include include/comjs