include include/head 
body
 #wrap
   include include/top
   .i_b_w
       #i_b.i_b(style="display:none")
         a.i_b_1(name="site", hclass="i_b_h14", sp="1", href="/about", title="了解rrestjs", style="display:none")
           img(width="160", height="160", src="/static/img/k4.png")
           span 了解
         a.i_b_2(name="site", hclass="i_b_h23", sp="2", href="/test", title="rrestjs性能", style="display:none")
           img(width="160", height="160", src="/static/img/k3.png")
           span 性能
         a.i_b_3(name="site", hclass="i_b_h23", sp="3", href="/feature", title="rrestjs功能", style="display:none")
           img(width="160", height="160", src="/static/img/k3.png")
           span 功能	    
         a.i_b_4(name="site", hclass="i_b_h14", sp="2", href="/study", title="rrestjs入门",  style="display:none")
           img(width="160", height="160", src="/static/img/k4.png")
           span 入门
         a#download.i_b_5(href="https://github.com/DoubleSpout/rrestjs/zipball/master", title="download",   style="display:none")
         a.i_b_6(name="site", hclass="i_b_h69", sp="4", href="http://snoopyxdy.blog.163.com/", title="技术博客", target="_blank", style="display:none")
           img(width="160", height="160", src="/static/img/k5.png")
           span 博客	    
         a.i_b_7(name="site", hclass="i_b_h78", sp="3", href="/message", title="留言板", style="display:none")
           img(width="160",height="160",src="/static/img/k7.png")
           span 留言
         a.i_b_8(name="site",hclass="i_b_h78",sp="4",href="/author",title="作者",style="display:none")
           img(width="160",height="160",src="/static/img/k7.png")
           span 作者
         a.i_b_9(name="site",hclass="i_b_h69",sp="5",href="https://github.com/DoubleSpout/rrestjs",target="_blank",title="github",style="display:none")
           img(width="160",height="160",src="/static/img/k5.png")
           span github 
   include include/foot
 script(type="text/javascript",src="/static/?parse=/static/js/jquery.1.6.2.js|/static/js/base.js|/static/js/index.js")