!!!5
html
 head
  <link type="text/css" rel="stylesheet" href="/static/?parse=/static/demo1.css|/static/demo2.css|/static/demo3.css" />
  body
   p jade之index2.jade
   script(type="text/javascript",src="/static/?parse=/static/demo1.js|/static/demo2.js|/static/demo3.js")




