.ft
  a(href="/") 首页
  |
  a(href="/about") 了解
  |
  a(href="/test") 性能
  |
  a(href="/feature") 功能
  |
  a(href="/study") 入门
  |
  a(href="https://github.com/DoubleSpout/rrestjs/zipball/master") 下载
  |
  a(href="/author") 作者
  |
  a(href="/message") 留言
  |
  a(href="http://snoopyxdy.blog.163.com/", target="_blank") 博客
  |
  a(href="https://github.com/DoubleSpout/rrestjs", target="_blank") github
  <br/>
  | 2011 Copyright © spout<br/>
  | Email:snoopyxdy@163.com; qq:53822985
