!!!5
html
 head
  title= pagetitle
  meta(http-equiv="content-type", content="text/html;charset=utf-8")
  meta(name="keywords", content="rrestjs,node.js高性能框架,nodejs框架,node框架,node.js框架,node.js restful,nodejs restful, node restful,node.js restful 框架")
  meta(name="description", content="高性能node.js的roa&restful web开发框架")
  link(type="text/css", rel="stylesheet", href="/static/css/base.less.css")