div.p_l_m.clearfix
  a.orangebg(href="/about") 了解
  a.yellowbg(href="/test") 性能
  a.yellowbg(href="/feature") 功能
  a.orangebg(href="/study") 入门
  a.graybg(href="https://github.com/DoubleSpout/rrestjs/zipball/master") 下载
  a.greenbg(href="http://snoopyxdy.blog.163.com/", target="_blank") 博客
  a.bluebg(href="/message") 留言
  a.bluebg(href="/author") 作者
  a.greenbg(href="https://github.com/DoubleSpout/rrestjs", target="_blank") github
a.p_l_b(href="/") 返回首页
